/* Jumbotron */
.jumbotron {
  background-image: url(https://picsum.photos/1920/1080);
  background-size: cover;
  height: 720px;
  position: relative;
}

.jumbotron .container {
  position: relative;
  z-index: 1;
  width: max-content;
  height: 720px;
}

.jumbotron .tombol {
  font-size: 22px;
  margin-top: 30px;
}

.jumbotron .display-4 {
  color: white;
  font-weight: 200;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
  font-size: 40px;
  margin-bottom: 30px;
}

.partner {
  background-color: #fcfafa;
}

.partner-wrapper {
  padding: 50px 0;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.partner-brand {
  display: flex;
  flex-direction: row;
  gap: 100px;
}

/* Resize images */
.partner-brand img {
  width: 100%;
  height: auto;
}

/* styling carousel */

#Kontak .display-4 {
  color: black;
  font-weight: 200;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
  font-size: 40px;
  margin-bottom: 30px;
}

body {
  background: #fafbfb;
}

/* FOOTER STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.page-footer {
  position: fixed;
  right: 0;
  bottom: 50px;
  display: flex;
  align-items: center;
  padding: 5px;
  z-index: 1;
}

.page-footer a {
  display: flex;
  margin-left: 4px;
}
