/* Jumbotron */
.jumbotron {
  background-image: url(https://picsum.photos/1920/1080);
  background-size: cover;
  height: 720px;
  position: relative;
}

.jumbotron .container {
  position: relative;
  z-index: 1;
  width: max-content;
  height: 720px;
}

.jumbotron .tombol {
  font-size: 22px;
  margin-top: 30px;
}

.jumbotron .display-4 {
  color: white;
  font-weight: 200;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
  font-size: 40px;
  margin-bottom: 30px;
}

.partner {
  background-color: #fcfafa;
}

.partner-wrapper {
  padding: 50px 0;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.partner-brand {
  display: flex;
  flex-direction: row;
  gap: 100px;
}

/* Resize images */
.partner-brand img {
  width: 100%;
  height: auto;
}

/* styling carousel */

#Kontak .display-4 {
  color: black;
  font-weight: 200;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
  font-size: 40px;
  margin-bottom: 30px;
}

body {
  background: #fafbfb;
}

.footer-tombol-wrapper {
  justify-content: end;
}

/* FOOTER STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.page-footer {
  position: fixed;
  right: 0;
  bottom: 50px;
  display: flex;
  align-items: center;
  padding: 5px;
  z-index: 1;
}

.page-footer a {
  display: flex;
  margin-left: 4px;
}

@media (max-width: 810px) {
  .partner-brand img {
    width: 100%;
    height: auto;
  }
  .gambar {
    justify-content: center;
  }
  .paragraf {
    text-align: center;
  }
  .my-img {
    width: 320px;
    object-fit: cover;
  }

  .my-map {
    height: 400px !important;
  }
  .anak-kontak {
    text-align: center;
  }
  .footer-tombol-wrapper button {
    width: 300px;
  }
  .footer-tombol-wrapper {
    align-items: center;
  }
}

@media (max-width: 375px) {
  .my-img {
    width: 350px;
    object-fit: cover;
  }
  .partner-brand {
    gap: 10px;
  }

  #Tentang_Kami {
    margin-top: 5px;
  }

  .anak-kontak {
    text-align: center;
  }
  .footer-tombol {
    display: flex;
    justify-content: center;
  }
  .footer-tombol-wrapper {
    flex-direction: column;
  }
}
